In [1]:
import pandas as pd
import numpy as np

In [2]:
import matplotlib.pylab as plt
import seaborn as sns

In [16]:
df = pd.read_csv('gold_price.csv')

In [19]:
df2 = pd.read_csv("silver_price.csv")

In [114]:
print(df)

             date    price
0      1968-01-02      NaN
1      1968-01-03      NaN
2      1968-01-04      NaN
3      1968-01-05      NaN
4      1968-01-08      NaN
...           ...      ...
13456  2021-03-30  1683.95
13457  2021-03-31  1691.05
13458  2021-04-01  1726.05
13459  2021-04-06  1744.65
13460  2021-04-07  1738.05

[13461 rows x 2 columns]

In [115]:
print(df2)

             date   price
0      1968-01-02   2.173
1      1968-01-03   2.225
2      1968-01-04   2.171
3      1968-01-05   2.157
4      1968-01-08   2.163
...           ...     ...
13470  2021-03-30  24.340
13471  2021-03-31  24.000
13472  2021-04-01  24.315
13473  2021-04-06  25.040
13474  2021-04-07  24.985

[13475 rows x 2 columns]